{% extends "layout.html.twig" %}
{% block styles %}userprofile{% endblock %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="row">
        {% for user in users %}
            <h1>Currently logged in as</h1>
            <p>{{ user.us_prename }}</p>
            <p> {{ user.us_lastname }}</p>
        {% endfor %}
    </div>
{% endblock %}