{% extends "layout.html.twig" %}
{% block styles %}changeemail
{% endblock %}
{% block title %}Change Email
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-6">
			<h1>Change Email</h1>
			<form action="/user/changeemail" method="post" class="mb-4">
				<div class="form-group">
					<label for="email" class="mb-4">New Email</label>
					<input type="text" name="email" id="email" class="form-control mb-4" value="{{ email }}">
					{% if errors['email'] %}
						<div class="text-danger mb-4">{{ errors['email'] | raw }}</div>
					{% endif %}
				</div>
				<button type="submit" class="btn btn-primary">Change Email</button>
			</form>
		</div>
	</div>
{% endblock %}
