{% extends "layout.html.twig" %}
{% block styles %}changepassword
{% endblock %}
{% block title %}Change password
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-6">
			<h1>Change password</h1>
			<form action="/user/changepassword" method="post" class="mb-4">
				<div class="form-group">
					<label for="oldpassword form-label">Old password</label>
					<input type="password" name="oldpassword" class="form-control" id="oldpassword" placeholder="Old password">
					{% if errors['oldpassword'] %}
						<div class="text-danger">{{ errors['oldpassword'] | raw }}</div>
					{% endif %}
				</div>
				<div class="form-group mt-4">
					<label for="password form-label">New password</label>
					<input type="password" name="password" class="form-control" id="password" placeholder="New password">
					{% if errors['password'] %}
						<div class="text-danger">{{ errors['password'] | raw }}</div>
					{% endif %}
				</div>
				{% if passwordverif %}
					<p class="text-danger mt-4">{{ passwordverif }}</p>
				{% endif %}
				<button type="submit" class="btn btn-primary mt-3">Change password</button>

			</form>
		</div>
	</div>
{% endblock %}
