{% extends "layout.html.twig" %}
{% block styles %}exercises{% endblock %}
{% block title %}Exercises{% endblock %}
{% block content %}
    <div class="row">
        <h1>These are the exercises</h1>
        <table>
            <tr>
                <th>Exercise</th>
                <th>Progress</th>
            </tr>
            {% for exercise in exercises %}
            <tr>
                <td><div class="exec">{{ exercise.name }}</div></td> 
                <td><a href="/progress/{{ exercise.id }}" class="btn btn-danger moove">-> Progress</a></td>
                <form method="POST" action="/exercises/{{ exercise.id }}">
                    <input type="hidden" id="_method" name="_method" value="DELETE" />
                    <button class="btn btn-danger">Löschen</button>
                </form>
            </tr>
            {% endfor %} 
        </table>
        <a href="/exercise/create" class="btn btn-primary">Add Exercise</a>
        <a href="/" class="btn btn-success home ">Home</a>
    </div>
{% endblock %}