{% extends "layout.html.twig" %}
{% block styles %}exercises
{% endblock %}
{% block title %}Exercises
{% endblock %}
{% block content %}
	<div class="container mt-5">
    <h1 class="display-4 mb-4">Exercise List</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in exercises %}
                    <tr>
                        <td>{{ exercise.name }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="/progresses/{{ exercise.id }}" class="btn btn-success">View Progress</a>
                                <a href="/exercises/{{ exercise.id }}" class="btn btn-warning">Edit</a>
                                <form method="POST" action="/exercises/{{ exercise.id }}" class="delete-form">
                                    <input type="hidden" id="_method" name="_method" value="DELETE"/>
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end">
        <a href="/exercise/create" class="btn btn-primary">Add Exercise</a>
    </div>
</div>
{% endblock %}
