{% extends "layout.html.twig" %}

{% block styles %}
	home
{% endblock %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="hero text-center">
				<h1 class="title">Powerlifting Tracker</h1>
				<p>Track your progress, set new goals, and become stronger!</p>
			</div>
		</div>
	</div>
{% endblock %}
