{% extends "layout.html.twig" %}

{% block styles %}home
{% endblock %}
{% block title %}Home
{% endblock %}
{% block content %}
	<div class="row">
		<div class="head">
			<h1>This Is The HomePage</h1>
		</div>
		<div class="navigation">
			<a href="/exercises" class="nav">this goes to exercises</a>
			<a href="/profile" class="nav">this goes to the profile</a>
			<a href="/progress/create" class="nav">New Progress</a>
			<form action="/logout" method="post">
				<input type="hidden" name="_method" value="DELETE">
				<button type="submit" class="btn btn-danger">Logout</button>
			</form>
		</div>
	</div>
{% endblock %}
