{% extends "layout.html.twig" %}
{% block styles %}login{% endblock %}
{% block title %}LoginPage{% endblock %}
{% block content %}
    <h1>Login</h1>
    <div class="row">
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <a href="/register" class="register">Register</a>
    </div>
{% endblock %}