{% extends "layout.html.twig" %}
{% block styles %}login
{% endblock %}
{% block title %}LoginPage
{% endblock %}
{% block content %}
	<div class="row">
		<form method="POST" action="/login">
			<div class="login">
				<h1 class="text-center">Login</h1>

				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="email" name="email">

					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" name="password">
				</div>
				{% if errors %}
					<span class="m-5 fn-bold text-danger">{{ errors }}</span>
				{% endif %}
				<button type="submit" class="btn btn-primary mt-3">Submit</button>
			</form>
			<br>
			<a href="/register" class="register mt-2">Register</a>
		</div>

	</div>
{% endblock %}
