{% extends "layout.html.twig" %}
{% block styles %}userprofile
{% endblock %}
{% block title %}Profile
{% endblock %}
{% block content %}
	<div class="row">
		<h1>Currently logged in as</h1>
		<p>{{ user.name }}</p>
		<p>{{ user.email }}</p>

		<h1>Change password</h1>
		<form action="/user/changepassword" method="post">
			<input type="password" name="password" placeholder="New password">
			<input type="submit" value="Change password">

			{% if error %}
				<p>{{ error }}</p>
			{% endif %}
		</form>
	</div>
{% endblock %}
