.moove {
    margin: 20px;

}
body {
    background-color: #b9b5db;
}
h1 {
    text-align: center;
    margin: 30px;
    padding: 10px;
}
.home { 
    text-align: center;
    margin: 10px;
    background-color: #6ba3a0;
    color: white;
    border-radius: 10px; 
}
.exec {
    color: white;
    font-size: 20px;
}

table, th, td {
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    background-color: #6ba3a0;
    color: white;
    border-radius: 10px;
    margin: 10px;
}
th {
    font-size: 20px;
}