.form-container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}

.form-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-label {
    margin-top: 10px;
}

.form-check-label {
    margin-left: 10px;
}

.fw-bold {
    font-weight: bold;
}

.text-danger {
    color: #dc3545;
}

.home {
    margin-top: 20px;
}
